*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

a{
    text-decoration: none;
}


ul{
    list-style: none;
}

#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #f9f8ff;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #252525;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.4rem;
}
.blog-heading strong{
    color: #505072;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}
/*6min*/
.blog-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1050px;
    width: 90%;
    margin-top: 50px;
}

.blog-box{
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}
.blog-box:hover{
    background-color: #fff;
    box-shadow: 16px 20px 50px rgba(0,0,0,0.12);
}
.blog-box-img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.blog-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}
.blog-img-link{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #252525;
    box-shadow: 2px 2px 30px rgba(20, 97, 212, 0.12);
    animation: fade 0.3s;
}
.blog-box:hover .blog-box-img a{
    display: flex;
}
.blog-box:hover .blog-box-img img{
    filter: blur(3px);
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.blog-box-text{
    display: flex;
    flex-direction: column;
    padding: 30px 10px 20px 10px;
}
.blog-box-text strong,
.blog-box-text p{
    color: #797979;
    font-size: 0.9rem;
    font-weight: 400;
}
.blog-box-text a{
    font-size: 1.4rem;
    color: #252525;
    font-weight: 800;
    line-height: 1.8rem;
    margin: 5px 0px 10px 0px;
}
.blog-box-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog-heading{
    margin-top: 50px;
}

a{
    color: #252525;
}



header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: #f9f8ff;
}

header .brand{
    color: #000000;
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Scheherazade New';
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #000000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3 ease;
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}




/*Search bar css*/

.search-container {
    background: #fff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    float: left;
    box-sizing: border-box;
}

button {
    float: left;
    width: 30%;
    padding: 8px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-sizing: border-box;
}


footer{
    background-color: #f9f8ff;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;

}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: #000000;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #f9f8ff;
    padding: 20px;
    text-align: center;
}

.Bm{
    letter-spacing: 1px;
}

.Ms{
    font-weight: 400;
}




@media (max-width: 1040px){
    header{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        transition: 0.5s ease;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn{
        background: url(clipart3035828.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(Close-256.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    .patho{
        font-size: 0.7em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 75px;
        margin-bottom: 40px;
    }

}

@media (max-width:920px) {
    .blog-box-container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 0px;
    }
}
@media (max-width:600px) {
    .blog-box-container {
        grid-template-columns: 1fr;
    }
    .blog-heading h3 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}


@media (max-width: 488px){
    footer ul{
        flex-direction: column;
        width: 100%;
        text-align: center;
        
    }
    .footerNav{
        flex-direction: column;
    }
    .footerNav ul li a{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}







